<ul>
  <li>
    <h3>user 1</h3>
    <p>latest bid: {{ user1Latest }}</p>
    <label>
      Bid:
      <input [(ngModel)]="user1" type="number" /><button (click)="bid('user1')">Send</button>
    </label>
  </li>
  <li>
    <h3>user 2</h3>
    <p>latest bid: {{ user2Latest }}</p>
    <label>
      Bid:
      <input [(ngModel)]="user2" type="number" /><button (click)="bid('user2')">Send</button>
    </label>
  </li>
  <li>
    <h3>user 3</h3>
    <p>latest bid: {{ user3Latest }}</p>
    <label>
      Bid:
      <input [(ngModel)]="user3" type="number" /><button (click)="bid('user3')">Send</button>
    </label>
  </li>
</ul>

<p>
  Auction deadline: {{ deadline | date:'h:mm:ss' }}
</p>
<p>
  Highest bid: {{ highest }}
</p>
<p>
  Result: {{ result }}
</p>
<p>
  Time Remaining: {{ ticker | date:'ss' }} seconds
</p>
<div>
  <button (click)="refresh()">Refresh</button>
</div>
